doctype html
html
  head
    include partials/header.jade

  body
    article
      header
        h1 HTML5 Promotional Game Developers
        p Bespoke games for a range of devices

      section
        h2 What we do
        ul
          li embeddable html5 games
          li ideal for promoting products or services
          li bespoke games for modern devices
          li custom leaderboards for your users
          li phonegap and browser based games
          li Written with the best HTML5 CSS3 and Javascript
          li replace the functionality of older flash games with modern cross browser equivalents.

      section
        h2 Contact us
        p This is where our contact form will go.

      section
        h2 Examples of our work
        div#game_1
        div#game_2
        div#game_3

    script(src='game_holding_page.js')
